@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Raleway Thin '),
    local('Raleway-Thin'),
    url('../node_modules/typeface-raleway/files/raleway-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('../node_modules/typeface-raleway/files/raleway-latin-100.woff') format('woff'); /* Modern Browsers */
}

.App {
  text-align: center;
  color: white;
}

.AppSlide {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 14pt;
  color: white;
}

.value {
  text-align: center;
}

.Particle {
  background-color: #221e1ef1;
  width: 350px;
  height: 300px;
  color: white;
}

.App-header {
  height: 350px;
  padding: 5px;
  color: white;
}

.AppEq {
  perspective: 1px;
  font-size: x-large;
  border-collapse: separate; 

}

.App-intro {
  font-size: large;
}


.slider-group {
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 20px;
  grid-template-areas: "slide1 slide2 slide3";
}

#slide1 {
  grid-area: slide1;
}

#slide2 {
  grid-area: slide2;
}

#slide3 {
  grid-area: slide3;
}

.rangeslider-vertical {
  margin: 20px auto;
  height: 150px;
  max-width:11px;
  background-color: #4e4343f1;
}

.Explanatory {
  color: white;
  font-size: 16pt;
  padding: 40px
}

/* Kind of stuck on how to apply animation only when slider is moved. */
#MJXc-Node-15_Temp {
  color: red;
  animation-name: pulse;
  animation-duration: 1s;
}

@keyframes pulse {
  from {background-color: red;}
  to {background-color: yellow;}
}

